* {
  /* --PRIMARY-COLOR:DARKBLUE;
  --SECONDARY-COLOR:BLUE; */
  --GRAY-COLOR: #374151;
  --COLOR-SHADOW:BLACK;
}

.h-100{
  height: 80vh;
}

.cursor-pointer{
  cursor: pointer;
  padding-left: 10px;
}